html {
    scroll-behavior: smooth;
}

body {
    background-color: transparent !important;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #eaeaea !important;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#bg {
    height: 100vh;
    width: 100vw;

    background: url("images/background.jpg");
    background-size: cover;

    position: fixed;

    z-index: -999;
}

#main {
    height: 100vh;
    width: 100vw;
}

#projects {
    height: 100vh;
    width: 100vw;
}

#main, #projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 18vh;
    margin-bottom: 15px;
}

.title {
    /*background: -webkit-linear-gradient(#904ff3, #4f99dc, #19d9c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: rgb(47 47 47 / 70%) !important;
    font-weight: 100;

    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 3.2rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.subtitle {
    text-align: center;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 1.3rem;
}

.title2 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin-bottom: 30px;
}

.box {
    box-shadow: none !important;
    background-color: initial !important;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box:hover {
    cursor: pointer;
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {

    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

footer {
    z-index: -50;
}

.has-text-centered>* {
    color: #2b2b2b !important;
}

@media (max-width: 760px) {
    #main {
        height: 85vh!important;
    }
    
    .title {
        font-size: 2rem;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .subtitle {
        padding-left: 50px;
        padding-right: 50px;
    }
}